---
const currentPath = Astro.url.pathname;
import { ClientRouter } from "astro:transitions";

---

<nav class="bg-white shadow-md py-2 px-4 flex justify-between items-center sticky top-0 z-50">
  <div>
    <img src="/assets/logo.jpg" alt="Logo" class="h-10 w-auto rounded-full" />
  </div>
  <div class="space-x-2 text-sm md:space-x-4 md:text-base">
    <a 
      href="/teacher" 
      class={`font-medium ${currentPath === "/teacher" ? "text-cyan-700 border-b-2 border-cyan-700 font-semibold" : "text-gray-600 hover:text-cyan-600"}`}
    >Home</a>

    <a 
      href="/teacher/scan2" 
      class={`font-medium ${currentPath === "/teacher/scan2" ? "text-cyan-700 border-b-2 border-cyan-700 font-semibold" : "text-gray-600 hover:text-cyan-600"}`}
    >Scan</a>

    <a 
      href="/teacher/questionBank" 
      class={`font-medium ${currentPath === "/teacher/questionBank" ? "text-cyan-700 border-b-2 border-cyan-700 font-semibold" : "text-gray-600 hover:text-cyan-600"}`}
    >Q Bank</a>


    <a 
      href="/teacher/test" 
      class={`font-medium ${currentPath === "/teacher/test" ? "text-cyan-700 border-b-2 border-cyan-700 font-semibold" : "text-gray-600 hover:text-cyan-600"}`}
    >Test</a>

    <a 
      href="/teacher/profile" 
      class={`font-medium ${currentPath === "/teacher/profile" ? "text-cyan-700 border-b-2 border-cyan-700 font-semibold" : "text-gray-600 hover:text-cyan-600"}`}
    >Profile</a>
  </div>
</nav>
<ClientRouter />