---
import StudentLayout from "../../layouts/StudentLayout.astro"
import StudentResult from "../../components/StudentResult"
---

<StudentLayout>
   <main class="flex flex-col items-center p-4 flex-1">
    
    <h1 class="flex align-middle justify-center font-bold">THIS IS STUDENTS RESULTS PAGE</h1>

    <StudentResult client:load />
    
   </main>
</StudentLayout>
