---
import "../styles/global.css";
const { title = "Math with S.D." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="icon" type="image/*" href="/logo.png" />

  <script is:inline>
  const token = localStorage.getItem("token");
  const role = localStorage.getItem("role");

  if (!token) {
    alert("Please login first.");
    window.location.href = "/";
  } else {
    fetch("http://localhost:4000/api/v1/students/validate", {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    }).then(res => {
      if (res.status === 401 || res.status === 403) {
        localStorage.removeItem("token");
        window.location.href = "/";
      }
    }).catch(err => {
      console.error("Validation error:", err);
      localStorage.removeItem("token");
      window.location.href = "/";
    });
  }

  if (!role) {
    alert("Please login first.");
    window.location.href = "/";
  } else if (role!=='teacher'){
    alert("Unauthorized access!");
    window.location.href = "/student";    
  }

  console.log(role);
  
</script>
  </head>
  <body class="bg-cyan-100 text-gray-800 min-h-screen flex flex-col">
    <slot />
  </body>
</html>
