---
import "../styles/global.css"
---
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="1;url=/" />
        <link rel="icon" type="image/*" href="/logo.png" />
        
    </head>
    <body>
          <a class="center flex align-middle font-bold font-sans w-full justify-center py-10 text-4xl" href="/">Sorry the page doesn't exist. Please visit  the home page.</a>
    </body>
</html>