---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
    <Navbar />
    <main class="center">Sorry the page doesn't exist. Please visit  the <a class="text-shadow-white" href="/">home page</a>.</main>
</Layout>