---
import { MathpixMarkdownModel } from 'mathpix-markdown-it';
const text = "$\\tan \\theta+2 \\tan 2 \\theta+4 \\cot 4 \\theta=$"

const html = MathpixMarkdownModel.markdownToHTML(text)
---
<html><body>
<div>{html}</div>
</body>
</html>
