---
import Login from "../components/Login"
import "../styles/global.css"
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="icon" type="image/*" href="/logo.png" />
</head>
<body class="bg-cyan-100 text-gray-800 min-h-screen">
    <Login client:load />
</body>
</html>