---
import ScanCheck from "../components/ScanCheck"
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanning Model</title>
</head>
<body>
    <ScanCheck client:load />
</body>
</html>